.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido horizontalmente */
    margin: 0px;
    padding: 0px;
    justify-content: center;
  }