.hero-section {
    width: 100%;
    background-color: white; /* Fondo blanco */
    display: flex; /* Flexbox para centrar contenido vertical */
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente los elementos */
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 4%;
    margin-top: 64px;
  }
  
  .hero-title {
    margin: 0 !important;
    padding-top: 40px;
    font-size: 7rem;
    text-align: start;
    color: #555;
    /*font-weight: bold;*/
  }
  
  .hero-subtitle {
    margin: 0 !important;
    padding-top: 30px;
    font-size: 2rem;
    color: #555;
    text-align: start;
  }
  
  .hero-buttons {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  /* Botón con borde */
  .button-outline {
    width: 205px;
    display: flex;
    border-radius: 100px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Fondo suave */
    color: #0096D6;
    border-color: #0096D6;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-outline:hover {
    background-color: #0096D61A;
    color: #0096D6;
    /*font-weight: bold;*/
    border-color: #0096D61A;
  }
  
  /* Botón sólido */
  .button-filled {
    width: 205px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 100px;;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-filled:hover {
    background-color: #0056b3;
  }


  @media (max-width: 1200px) {
    .hero-title {
      font-size: 5rem; 
      padding-top: 20px; 
    }
  
    .hero-subtitle {
      font-size: 2.5rem; 
      padding-top: 15px; 
    }
  }

  @media (max-width: 900px) {
    .hero-title {
      font-size: 4rem; 
      padding-top: 20px; 
    }
  
    .hero-subtitle {
      font-size: 2rem; 
      padding-top: 15px;
    }
  }

  @media (max-width: 500px) {
    .hero-title {
      font-size: 4rem;
      padding-top: 20px; 
    }
  
    .hero-subtitle {
      font-size: 1.3rem; 
      padding-top: 30px;
    }

    .hero-buttons {
        width: 100%;
        padding-top: 30px;
        flex-direction: column; 
        gap: 20px; 
        justify-content: center; 
        align-items: center; 
        
      }
  }