.feature-section {
    display: flex;
    flex-direction: row; /* Elementos en fila (horizontalmente) */
    width: 100%;
    justify-content: center;
    align-items: stretch;
    min-height: 550px;
    max-height: 650px; /* Altura mínima */
    padding-top: 70px !important;
    padding-left: 0%;
    padding-right: 0%;
    /*padding: 0 2% ;*/
    background-color: white;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }

  .box-you, .box-ai {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    max-width: 590px;
    min-height: 100%;
    overflow: hidden;
    background-color: white;
  }

  .feature-section .box-ai .feature-title {
    color: #555;
}

.feature-section .box-you .feature-box {
  background-color: #F2FAFC;
}



  
  @media (max-width: 768px) {
    .feature-section {
      flex-direction: column; /* Los pone uno encima del otro */
      align-items: center;
      padding: 0 0%;
      max-height: none;
    }
    
  }